:root{
    --black: #000;
    --white: #fff;
    --white-marvel: #f5f4e6;
    --red-marvel: #9a0404;
    --yellow-marvel: #f3c909;
    --red-marvel-dark: #570000;
    --blue-marvel: #003b61;
    --fundo-bege: #F5F4E6;
    --vermelhoFonte: #570000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-image: url(../assets/thumbnail.jfif); /* Rogerio: define a imagem como plano de fundo */
    background-repeat: repeat;
    height: 100vh;
    background-size: 350px 350px; 
}


/* SIDEBAR */
.sidebar {
    width: 5vw; /*Rogerio: define a largura do menu - Natanael: Ajuste px para vw */
    background-color: var(--red-marvel);
    padding-top: 40px; /* Rogerio: define o espaço entre o conteudo do menu e suas bordas*/
    padding-left: 0.8vw; /* Natanael: Ajuste px para vw */
    height: 100vh; /* Rogerio: altura */
    box-shadow: 8px 0  rgba(219, 193, 53, 1);
    position: fixed; /* Rogerio: fixa o menu */
}

.btn {
    margin-top: 20px;
    border: none; /* Rogerio: remove a borda dos botões*/
    background-color: rgba(245, 244, 230, 1);
    border-radius: 50%; /* Rogerio: deixa os botões redondos*/
    width: 3.5vw;
    height: 7vh;
    margin-bottom: 10px;
    cursor: pointer; /* Rogerio: muda o modelo de cursor do mouse ao passar por cima*/
    position: relative; /* Rogerio: isso faz com que o botão seja o ponto de referencia para o posicionamento absoluto do texto */
}

.texto {
    position: absolute; /* Rogerio: isso tira o texto do fluxo normal do documento e permite posicioná-lo em relação ao seu pai */
    top: 110%;
    left: 50%;
    transform: translateX(-50%);
    color: rgba(255, 255, 255, 1);
    font-size: 2vh; /* Natanael: Tamanho fonte */
}

.btn:hover {
    background-color: rgba(219, 193, 53, 1); /* Rogerio: para quando usuario passar com o mouse pelo botão */
}

.effect { /* Rogerio: criar um efeito na imagem de fundo */
    background-color: rgba(243, 233, 195, 0.5);
    background-size: cover;
    height: 100vh;
}

.marvel {
    margin-left: 100px;
    position: absolute;
}


/* FAIXA */
.faixa {    
    background-image: url(../assets/faixa.jfif);
    background-repeat: repeat-y;
    width: 8vw;
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center; /* Rogerio: alinha os titulos dos games com a faixa */
    padding: 0;
    margin-top: 0; /* Rogerio: alinha a faixa com a imagem de fundo */
    margin-bottom: 0; /* Rogerio: alinha a faixa com a imagem de fundo */
}

.faixa li {
    list-style: none; /* Rogerio: remove características de lista */
    margin-bottom: 30vh; /* Natanael: ajustou para vh as margens e tirou da div faixa img */
    margin-right: 17vw;
}

.faixa img {
    position: fixed;
    align-items:center;
    padding: 0;
    width: 250px;
    filter: drop-shadow(0 4px 4px black); /* Rogerio: efeito de sombra nos titulos dos jogos */
}

.container { /* Rogerio: container para guardar a faixa */
    margin-left: 480px;
    display: flex;
    justify-content: center;
    gap: 200px;
}

/* Natanael: Foi gerado a @media para dar responsividade as imagens com a resolução menor que 1080px */
@media (max-width: 1080px) {
    .faixa li {
        margin-right: 18vw;
    }

    .marvel_img {
        width: 400px;
        height: 250px;
    }

    .btn {
        width: 3.5vw;
        height: 5.5vh;
    }
}


/* Natanael: Página X-Men Children of The Atom */
.effect_opac { /* Rogerio: criar um efeito na imagem de fundo */
    background-color: rgba(255, 255, 255, 0.45);
    background-size: cover;
    height: 200vh;
}

.effect_opac2 { /* Natanael: criar um efeito na imagem de fundo */
    background-color: rgba(255, 255, 255, 0.45);
    background-size: cover;
    height: 90vh;
}

.effect_opac3 { /* Natanael: criar um efeito na imagem de fundo */
    background-size: cover;
    height: 85vh;
}

.game_container_text {
    height: 11.2vh;
    width: auto;
    border-bottom: 10px solid rgba(219, 193, 53, 1);
    background: var(--red-marvel);
    display: flex;
    justify-content: center;
}

.game_container_h2 {
    color: var(--fundo-bege);
    font-size: 8vh;
    margin-top: 1vh;
    font-family: 'Bangers';
}

.xMenChild_img {
    margin-top: -8vh;
    margin-left: 59vw;
    filter: drop-shadow(0 4px 4px black);
    width: 35vw;
}


.Capa_xMenChild_img {
    margin-top: -28vh;
    margin-left: -18vh;
    border: 3px solid var(--red-marvel);
    box-shadow: -6px 6px var(--red-marvel);
    width: 48vw;
}

.Capa_xMenChild {
    margin-top: -34.5vh;
    margin-left: 15vw;
}

.title_container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin-top: -80vh;
    margin-left: 38.5vw;
}

.title_p {
    font-size: 5vh;
    margin-top: -10vh;
    margin-left: 36vh;
    text-transform: uppercase;
    color: var(--fundo-bege);
    font-family: 'Bangers';
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--red-marvel);
    text-shadow: -2px 4px 0 #9A0404;
}

.area_container {
    display: flex;
    flex-direction: column;
    width: 51vw;
    height: 100vh;
    background: var(--fundo-bege);
    margin-top: 5vh;
    margin-left: 47vw;
    border: 5px solid var(--red-marvel);
    box-shadow: -6px 6px var(--red-marvel);
}

.title_box {
    background-color: var(--red-marvel); /* Rogerio: Cor do fundo vermelho */
    padding: 7px 20px; /* Rogerio: Espaçamento extra ao redor do texto */
    display: inline-block; /* Rogerio: Para que o contêiner envolva o conteúdo */
    position: relative;
    width: 140px;
    margin-left: 16vh;
    top: -19px;
}

.area_title {
    margin-top: -5vh;
    margin-left: -4.25vh;
    font-size: 32px;
    font-family: 'Bangers';
    color: var(--fundo-bege);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--red-marvel);
    text-shadow: -2px 4px 0 var(--red-marvel);
    height: 40px;
    position: relative;
    display: inline-block;
    top: -7px;
}

.area_p {
    margin-left: 6.4vw;
    font-size: 2.35vh;
    font-family: 'Bangers';
    color: var(--blue-marvel);
    width: 90%;
    position: relative;
    top: -12px;
}

.area_container iframe {
    margin-top: 1vh;
    margin-left: 7.7vw;
    width: 41.5vw;
    height: 55vh;
}

.second_container_text {
    height: 11.2vh;
    width: auto;
    border-bottom: 10px solid rgba(219, 193, 53, 1);
    background: var(--red-marvel);
    display: flex;
    justify-content: center;
}

.second_container_h2 {
    color: var(--vermelhoFonte);
    font-size: 6.5vh;
    margin-top: 2vh;
    font-family: 'Bangers';
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: var(--yellow-marvel);
}

.container_personagens {
    display: flex;
}

.lista1 {
    display: flex;
}

.lista_personagens{
    display: inline;
    margin-top: 15vh;
    height: 18vh;
}

.lista_personagens:first-child {
    margin-top: 15vh;
    margin-left: 17vw;
    height: 18vh;
}

.personagens {
    margin-left: 1vw;
    width: 10vw;
    height: 18vh;
}

.lista2 {
    display: flex;
}

.lista_personagens2{
    display: inline;
    margin-top: 35vh;
    height: 18vh;
}


.lista_personagens2:first-child{
    margin-top: 35vh;
    margin-left: -66vw;
    height: 18vh;
}

.personagens_secondLine {
    margin-left: 1vw;
    width: 10vw;
    height: 18vh;
}

.lista3 {
    display: flex;
}

.lista_personagens3{
    display: inline;
}


.lista_personagens3:first-child{
    margin-top: 55vh;
    margin-left: -15vw;
    height: 18vh;
}

.personagens_thirdLine {
    margin-left: -50vw;
    width: 10vw;
    height: 18vh;
}

.third_container_text {
    height: 11.2vh;
    width: auto;
    border-bottom: 10px solid rgba(219, 193, 53, 1);
    background: var(--red-marvel);
    display: flex;
    justify-content: center;
}

.third_container_h2 {
    color: var(--vermelhoFonte);
    font-size: 6.5vh;
    margin-top: 2vh;
    font-family: 'Bangers';
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: var(--yellow-marvel);
}

.container_coments {
    background-color: rgba(255, 255, 255, 0.45);
    padding-top: 60px;
}

.form_forum {
    display: grid;
    margin-left: 12vw;
    background: rgba(217, 217, 217, 0.9);
    height: 320px;
    width: 80vw;
    padding: 30px 0px 20px 40px;
}

.form_name {
    width: 50vw;
    margin-bottom: 20px;
    font-family: 'bangers';
    font-size: 2.5vh;
    height: 30px;
    box-shadow: -5px 5px 5px black;
}

.form_coment {
    width: 70vw;
    height: 25vh;
    font-family: 'bangers';
    font-size: 2.5vh;
    box-shadow: -5px 5px 5px black;
}

.form_btn {
    width: 8vw;
    margin-left: 62vw;
    margin-top: 20px;
    text-transform: uppercase;
    font-family: 'bangers';
    font-size: 3vh;
    box-shadow: -5px 5px 5px black;
}


/* Natanael e Thiago: JavaScript abrir personagem */
.image-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* .popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to bottom right, var(--red-marvel-dark), var(--red-marvel), var(--yellow-marvel));
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    padding: 20px;
    height: 45vh;
    width: 45vw;
    border-radius: 8px;
} */ /* Substituido pelo .popup2 */

/* .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
} */ /* Substituido pelo .overlay2 */

/* .close-btn {
    display: block;
    margin-top: 18vh;
    cursor: pointer;
    text-align: center;
    margin-left: 9.2vw;
    color: white;
    border: 1px solid black;
    width: 10vw;
    align-items: center;
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
    background: #000;
} */ /* Substituido pelo .close-btn2 */

.text_js {
    font-size: 6vh;
    width: 22vw;
    margin-left: -7.5vw;
}

.text_js2 { /* Rogerio: criado para um unica situação especifica */
    font-size: 6vh;
    width: 22vw;
    margin-left: 1vw;
}

.text_area_js p {
    color: #000;
    font-size: 2.5vh;
}
/* Natanael e Thiago: Fim JS abrir poup-up personagem */
/* Natanael: Fim CSS página X-men children of athon */

/* Pagina de Perfil */
.perfilbody {
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-image: url(../assets/thumbnail.jfif);
    background-repeat: repeat;
    height: 100vh;
    background-size: 350px 350px; 
    background-color: rgba(255, 255, 255, 0.6); /* Cor branca com 50% de transparência */
    background-blend-mode: lighten;
    color: #404040;
}

.cabecalho {
    text-align: center;
}

.cabecalho > img {
    
    width: 200px;
    border-radius: 10%;
    border: 4px solid #570000;
}


.detalhes{
    text-align: center;
    background-color: #fff;
    margin-left: 500px;
    margin-right: 500px;
    font-size: 2em;
}
.detalhes > h1 {
    color: #000;
    padding: 10px;
}

.detalhes > p {
    padding: 0px;
}

.negrito {
    font-weight: 700;
    color: #000;
}

p {
    color: #404040;
    padding: 20px;
}

/*Tiago: CSS PERSONAGENS */

/* Container principal */
.container_personagens2 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

/* Estilo das colunas */
.coluna_marvel, .coluna_streetfighter {
    width: 45%;
    margin-bottom: 40px;
    display: flex; /* Tiago: Ativa o flexbox */
    flex-direction: column;
    justify-content: top; /* Tiago: Centraliza verticalmente */
    align-items: center; /* Tiago: Centraliza horizontalmente */
    height: 100%;
    text-align: center;
    position: relative;
}

h3 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

/* Lista de personagens */
.lista_marvel, .lista_streetfighter {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

/* Estilo da imagem "VS" */
.vs-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8%;
}

.vs-image {
    width: 100px; /* Tiago: Ajuste o tamanho conforme necessário */
    height: auto; /* Tiago: Mantém a proporção da imagem */
}

/* Estilo específico para "MARVEL" */
.texto_com_efeito.marvel {
    font-family: 'Bangers';
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: black;
    padding: 20px;
    background-color: #fff;
    position: relative;
    display: inline-block;
    margin: 10px auto;
    border: 5px solid transparent; /* Tiago: Borda padrão */
    box-shadow: none; /* Tiago: Sombra padrão */
    max-width: 80%; /* Tiago: Ajustar largura menor que a coluna */
    height: auto; /* Tiago: Altura automática */
    box-shadow: -6px 6px var(--red-marvel); /* Tiago: Sombra */
}

/* Estilo específico para "CAPCOM" */
.texto_com_efeito.capcom {
    font-family: 'Bangers';
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: black;
    padding: 20px;
    background-color: #fff;
    position: relative;
    display: inline-block;
    margin: 10px auto;
    border: 5px solid transparent; /* Tiago: Borda padrão */
    box-shadow: none; /* Tiago: Sombra padrão */
    max-width: 80%; /* Tiago: Ajustar largura menor que a coluna */
    height: auto; /* Tiago: Altura automática */
    box-shadow: -6px 6px var(--blue-marvel); /* Tiago: Sombra */
}

/* Estilo dos itens de personagens */
.lista_personagem {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 4px solid transparent;
    box-shadow: -6px 6px var(--red-marvel);
}

.lista_personagem2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 4px solid transparent;
    box-shadow: -6px 6px var(--blue-marvel);
}

.image-container2{
    width: 100%;
    max-width: 150px;
    position: relative;
    cursor: pointer;
}

.image-container2 img {
    display: block;
    width: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Estilos para as pop-ups */
.overlay2 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 100;
}

.popup2 {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--fundo-bege);
    padding: 20px;
    z-index: 101;
    max-width: 90%;
    max-height: 90%;
    overflow-y: auto;
    box-shadow: -10px 10px var(--red-marvel);
}

.popup2 img {
    position: relative;
    top: 35px;
    left: 24px;
    margin-bottom: 300px;
    width: 30vh;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
}

.popup2 h1 {
    position: absolute;
    width: 35vh;
    font-family: 'Bangers';
    font-size: 30px;
    color: var(--fundo-bege);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--red-marvel);
    text-shadow: -2px 4px 0 #9A0404;
    white-space: nowrap; /* Natanael: Correção quebra de linha popup JS */
}

.text_area_js {
    position: relative;
    margin-right: 70px;
    margin-top: 35px;
    font-family: 'Bangers';
    background: var(--white);
    box-shadow: -6px 6px var(--red-marvel);
    height: 395PX;
    width: 40vh;
    left: 70px;
}

.text_area_js p {
    text-align: left;
    margin-left: -10px;
    color: var(--blue-marvel);
}

.text_js {
    font-size: 48px;
    font-weight: bold;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.4);
    margin-bottom: 10px;
    margin-right: 23vh;
    margin-left: 1px !important; 
    text-align: left !important;
}

.close-btn2 {
    background-color: #f44336;
    margin-left: 10px;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 650px;
}

.bottom-popup {
    font-family: 'Bangers';
    color: var(--fundo-bege);
    font-size: 50px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--red-marvel);
    text-shadow: -2px 4px 0 #9A0404;
    top: 50vh;
}

.popup2 iframe {
    margin-top: 55vh;
}

/* Responsividade */
@media (max-width: 768px) {
    .container_personagens {
        flex-direction: column;
        align-items: center;
    }

    .coluna_marvel, .coluna_streetfighter {
        width: 100%;
    }

    .lista_marvel, .lista_streetfighter {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .lista_marvel, .lista_streetfighter {
        grid-template-columns: 1fr;
    }
}

/*Tiago: Fim CSS página X-men vs Street Figther */


.img_small { /* Rogerio: usado para diminuir uma imagem especifica*/
    margin-top: -8vh;
    margin-left: 59vw;
    filter: drop-shadow(0 4px 4px black);
    width: 35vw;
}

.main_container_h1 {
    position: absolute;
    margin-top: 45vh;
    margin-left: 8vw;
    height: 50vh;
    width: 35vw;
    border: 1px solid black;
    background: var(--fundo-bege);
    border: 5px solid var(--yellow-marvel);
    box-shadow: -6px 6px var(--yellow-marvel);
}

.main_container_h1 h1 {
    margin-top: -24px;
    margin-left: 20px;
    font-family: 'Bangers';
    color: var(--white);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--yellow-marvel);
    font-size: 42px;
}

.main_container_p {
    font-family: 'Encode Sans Semi Condensed';
    color: #003B61;
    font-size: 2.5vh;
    font-weight: bold;
    margin-top: -2vh;
}

.full_container_table {
    background: var(--white);
    height: 50vh;
    width: 50vw;
    margin: 10px auto;
}

.container_printTable {
    background: var(--fundo-bege);
}

.container_printTable h2{
    text-align: center;
    margin-top: 10vh;
}

.container_printTable form{
    text-align: center;
    margin-top: 3vh;
}

.container_printTable button, .full_container_table button{
    padding: 5px;
    font-size: 14px;
}

.container_table {
    margin: 0px auto;
    height: 50vh;
    width: 50vw;
    text-align: center;
}

.container_table tr {
    padding: 2px;
}

.btn_voltar_painel {
    /* text-align: center; */
    padding: 5px;
    font-size: 14px;
    color: var(--black);
    margin: 4vh 23.5vw;
}

.btn_voltar_painel a {
    text-decoration: none;
    color: var(--black);
}