:root{
    --black: #000;
    --white: #fff;
    --white-marvel: #f5f4e6;
    --red-marvel: #9a0404;
    --yellow-marvel: #f3c909;
    --red-marvel-dark: #570000;
    --blue-marvel: #003b61;
    --fundo-bege: #F5F4E6
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


/* SIDEBAR */
.sidebar {
    width: 80px; /* Rogerio: define a largura do menu*/
    background-color: var(--red-marvel);
    padding-top: 40px; /* Rogerio: define o espaço entre o conteudo do menu e suas bordas*/
    padding-left: 15px;
    height: 100vh; /* Rogerio: altura */
    box-shadow: 8px 0  rgba(219, 193, 53, 1);
    position: fixed; /* Rogerio: fixa o menu */
}

.btn {
    margin-top: 20px;
    border: none; /* Rogerio: remove a borda dos botões*/
    background-color: rgba(245, 244, 230, 1);
    border-radius: 50%; /* Rogerio: deixa os botões redondos*/
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    cursor: pointer; /* Rogerio: muda o modelo de cursor do mouse ao passar por cima*/
    position: relative; /* Rogerio: isso faz com que o botão seja o ponto de referencia para o posicionamento absoluto do texto */
}

.texto {
    position: absolute; /* Rogerio: isso tira o texto do fluxo normal do documento e permite posicioná-lo em relação ao seu pai */
    top: 110%;
    left: 50%;
    transform: translateX(-50%);
    color: rgba(255, 255, 255, 1);
}

.btn:hover {
    background-color: rgba(219, 193, 53, 1); /* Rogerio: para quando usuario passar com o mouse pelo botão */
}


/* CONTEUDO GERAL */
.backimage { 
    background-image: url(../assets/thumbnail.jfif); /* Rogerio: define a imagem como plano de fundo */
    background-repeat: repeat;
    height: 100vh;
    background-size: 350px 350px;    
}

.effect { /* Rogerio: criar um efeito na imagem de fundo */
    background-color: rgba(243, 233, 195, 0.5);
    background-size: cover;
    height: 100vh;
}

.marvel {
    margin-left: 100px;
    position: absolute;
}


/* FAIXA */
.faixa {    
    background-image: url(../assets/faixa.jfif);
    background-repeat: repeat-y;
    width: 130px;
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center; /* Rogerio: alinha os titulos dos games com a faixa */
    padding: 0;
    margin-top: 0; /* Rogerio: alinha a faixa com a imagem de fundo */
    margin-bottom: 0; /* Rogerio: alinha a faixa com a imagem de fundo */
}

.faixa li {
    list-style: none; /* Rogerio: remove características de lista */
}

.faixa img {
    margin-bottom: 10px;
    margin-top: -20px;
    padding: 0;
    width: 250px;
    filter: drop-shadow(0 4px 4px black); /* Rogerio: efeito de sombra nos titulos dos jogos */
}

.container { /* Rogerio: container para guardar a faixa */
    margin-left: 480px;
    display: flex;
    justify-content: center;
    gap: 200px;
}


/* Natanael: Página X-Men Children of The Atom */
.xMenStreetF {
    margin-left: 400px;
    position: absolute;
}

.game_container_text {
    margin-top: 0px;
    height: 80px;
    width: auto;
    border-bottom: 10px solid rgba(219, 193, 53, 1);
    background: var(--red-marvel);
    display: flex;
    justify-content: center;
}

.game_container_h2 {
    color: white;
    font-size: 36px;
    margin-top: 15px;
    font-family: 'Bangers';
    font-size: 40px;
}

.xMenChild_img {
    margin-top: -50px;
    margin-left: 61.5vw;
    width: 300px;
    height: 250px;
}

.Capa_xMenChild_img {
    width: 480px;
    height: 550px;
    border: 3px solid var(--red-marvel);
    box-shadow: -6px 6px var(--red-marvel);
}

.Capa_xMenChild {
    margin-top: -180px;
    margin-left: 10vw;
}

.title_container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin-top: -410px;
    margin-left: 42vw;
}

.title_p {
    font-size: 38px;
    text-transform: uppercase;
    color: var(--white);
    font-family: 'Bangers';
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--red-marvel);
}

.area_container {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 390px;
    background: var(--fundo-bege);
    margin-top: 35px;
    margin-left: 55vw;
    border: 5px solid var(--red-marvel);
    box-shadow: -6px 6px var(--red-marvel);
}

.area_title {
    margin-top: -20px;
    margin-left: 30px;
    font-size: 32px;
    font-family: 'Bangers';
    color: var(--white);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--red-marvel);
    text-decoration:8px underline;
    height: 40px;
}

.area_p {
    margin-top: 12px;
    margin-left: 5px;
    width: 100%;
}

.area_container iframe {
    margin-top: 3vh;
    margin-left: 3.6vw;
}
